ajf-page-slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  ion-icon.ajf-icon-rotated {
    transform: rotate(90deg);
  }

  > .ajf-page-slider-content {
    flex: 1;
    display: block;
    overflow: hidden;
    height: 100%;

    > .ajf-page-slider-body {
      display: flex;
      align-items: stretch;

      &.vertical {
        flex-direction: column;
        width: 100%;
      }

      &.horizontal {
        flex-direction: row;
        height: 100%;
      }

      > ajf-page-slider-item {
        flex: 1 0 auto;
      }
    }
  }
}
