ajf-field {
  ion-select {
    position: relative;
  }

  ion-input {
    border: dashed 2px #eeeeee;
  }

  .ajf-choices-container {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    display: flex;

    > ion-radio-group {
      display: flex;

      ion-item {
        --ion-item-border-color: transparent;

        ion-label {
          margin-right: 10px;
        }
      }
    }

    > ion-card {
      margin-top: 0;
      width: 33%;
      display: flex;
      font-size: 13px;
      flex-wrap: wrap;
      flex-basis: 21% !important;
      flex-shrink: 3 !important;

      > ajf-checkbox-group-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
      }

      > ion-item {
        font-size: 13px;
        flex: 1 0 auto;
        flex-shrink: 3 !important;
        flex-basis: 21% !important;
        margin: 0 10px;
      }
    }
  }

  .ajf-item-container {
    position: relative;
  }

  .ajf-errors {
    font-style: italic;
    padding: 5px;
  }

  tr.ajf-row-odd {
      background-color: grey;
  }

  .ajf-table-container {
    overflow-x: auto;

    table {
      width: 100%;
    }
  }
}
