ajf-form {
  display: block;
  position: relative;

  form {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .ajf-form-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      ion-toolbar {
        flex: 0 0 auto;
        height: 56px;

        &.ajf-hidden {
          opacity: 0;
        }
      }

      > .ajf-slider-container {
        flex: 1 1 auto;
        position: relative;
        height: calc(100% - 56px);

        > ajf-page-slider {
          height: 100%;

          ajf-page-slider-item {
            .ajf-page-slider-item-content {
              padding: 16px;

              .ajf-form-page {
                flex: 1;
                max-height: 100%;

                > ion-card {
                  flex:1;

                  > ion-card-content {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-content: flex-start;
                    position: relative;

                    .ajf-group-actions {
                      position: absolute;
                      left: calc(100vw - 13em);
                      margin-top: -3em;
                      padding: 15px;
                      z-index: 10;
                      white-space: nowrap;

                      ion-fab-button {
                        display: inline-block;
                      }

                      &.bottom {
                        position: initial;
                        margin: 0;
                        flex: 1;
                        text-align: right;
                      }
                    }

                    > .ajf-field-entry {
                      flex: 1 0 auto;
                      padding-left: 10px;
                      padding-right: 10px;
                      width: 100%;
                      box-sizing: border-box;

                      &.ajf-normal { width: 100%; }
                      &.ajf-small { width: 50%; }
                      &.ajf-smaller { width: 33%; }
                      &.ajf-tiny { width: 25%; }
                      &.ajf-mini { width: 20%; }
                    }
                  }
                }
              }
            }
          }

          .ajf-page-slider-item-header {
            display: flex;
            align-items: center;
            width: 100%;

            > h2 {
              flex: 1;
              > .ajf-form-header-number {
                margin-right: 0.5em;
              }
              > .ajf-title {
                display: inline-block;
                margin-right: 40px;
                white-space: normal;
                vertical-align: top;
              }
            }
          }

          [ajfPageSliderBar] {
            .ajf-left-bar {
              display: flex;
              align-items: flex-start;
              flex-direction: row;
              position: absolute;
              bottom: 0;

              ion-buttons.ajf-errors {
                order: 1;
                color: red;
              }

              .ajf-info-box {
                height: 40px;
                padding: 4px;

                > div {
                  height: 16px;
                  line-height: 16px;

                  &.ajf-content {
                    font-weight: bold;
                  }
                }

                &.ajf-error {
                  order: 2;
                  color: red;
                }
              }
            }
          }
        }
      }

      .ajf-spacer {
        flex: 1 0 auto;
      }
    }
  }
}
