.demo-forms {
  .demo-forms-header-box {
    flex: 1;
    padding: 0 10px;

    textarea {
      width: 100%;
      height: 120px;
    }
  }

  .demo-form-container {
    height: 500px;
    position: relative;
  }

  .demo-error-container {
    border: 2px solid #D08080;
    background-color: #ffe0e0;
    padding: 1em;
    margin: 0.5em;
    color: #800000;

    .demo-error-item {
      padding: 0.5em;
      font-size:80%
    }
  }
}
