<div class="demo-forms">
  <h4 class="demo-section-header">Form</h4>
  <section>
    <mat-grid-list [cols]="2" rowHeight="200px">
      <mat-grid-tile>
        <div class="demo-forms-header-box">
          <h5>Schema</h5>
          <textarea [(ngModel)]="formSchema"></textarea>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="demo-forms-header-box">
          <h5>Context</h5>
          <textarea [(ngModel)]="context"></textarea>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <button (click)="setSchema()" mat-raised-button
        color="primary">Set schema</button>
    <div class="demo-error-container" *ngIf="!formIsVisible && messages.length">
      Problems with given schema:
      <ol>
        <li class="demo-error-item" *ngFor="let m of messages">{{m}}</li>
      </ol>
    </div>
    <div class="demo-form-container" *ngIf="formIsVisible">
      <ajf-form [form]="form" hasStartMessage hasEndMessage hideTopToolbar></ajf-form>
    </div>
  </section>
</div>
