<table *ngIf="sortedData" matSort (matSortChange)="sortData($event)">
  <tr *ngIf="sortedData.length > 0">
    <th
      *ngFor="let headerCell of sortedData[0]; let idx = index"
      [applyStyles]="headerCell.style"
      [ngStyle]="{'padding': cellpadding}"
      [attr.colspan]="headerCell.colspan"
      [attr.rowspan]="headerCell.rowspan"
      [mat-sort-header]="'column' + idx"
    >
      {{headerCell.value}}
    </th>
  </tr>
  <ng-container *ngIf="sortedData.length > 1">
    <tr *ngFor="let row of sortedData.slice(1)">
      <td
        *ngFor="let cell of row"
        [applyStyles]="cell.style"
        [ngStyle]="{'padding': cellpadding}"
        [attr.colspan]="cell.colspan"
        [attr.rowspan]="cell.rowspan"
        [innerHTML]="cell.value"
        (click)="openDialog(cell.dialogHtml)"
      ></td>
    </tr>
  </ng-container>
</table>

<ng-template #dialogContent let-data>
  <div [innerHTML]="data.content"></div>
</ng-template>
