<table *ngIf="data" matSort (matSortChange)="sortData($event)">
  <tr *ngIf="data.length > 0">
    <th
      *ngFor="let headerCell of data[0]; let idx = index"
      [applyStyles]="headerCell.style"
      [ngStyle]="{'padding': cellpadding}"
      [attr.colspan]="headerCell.colspan"
      [attr.rowspan]="headerCell.rowspan"
      [mat-sort-header]="'column' + idx"
    >
      {{headerCell.value}}
    </th>
  </tr>
  <ng-container *ngIf="data.length > 1">
    <tr *ngFor="let row of data.slice(1)">
      <td
        *ngFor="let cell of row"
        [applyStyles]="cell.style"
        [ngStyle]="{'padding': cellpadding}"
        [attr.colspan]="cell.colspan"
        [attr.rowspan]="cell.rowspan"
        [innerHTML]="cell.value"
      ></td>
    </tr>
  </ng-container>
</table>
