# Ajf core
/src/core/*                                        @trik
/src/core/calendar/*                               @trik
/src/core/chart/*                                  @trik
/src/core/checkbox-group/*                         @trik
/src/core/common/*                                 @trik
/src/core/file-input/**/*                          @trik
/src/core/forms/**/*                               @trik
/src/core/image/*                                  @trik
/src/core/map/*                                    @trik
/src/core/models/**/*                              @trik
/src/core/node-icon/*                              @trik
/src/core/page-break/*                             @trik
/src/core/page-slider/*                            @trik
/src/core/reports/**/*                             @trik
/src/core/table/*                                  @trik
/src/core/testing/private/**/*                     @trik
/src/core/text/*                                   @trik
/src/core/time/*                                   @trik
/src/core/utils/*                                  @trik
/src/core/barcode/*                                @peppedeka

# Ajf material
/src/material/*                                    @trik
/src/material/barcode/*                            @peppedeka
/src/material/calendar/*                           @trik
/src/material/checkbox-group/*                     @trik
/src/material/form-builder/*                       @trik
/src/material/forms/*                              @trik
/src/material/image/*                              @trik
/src/material/monaco-editor/*                      @trik
/src/material/node-icon/*                          @trik
/src/material/page-slider/*                        @trik
/src/material/report-builder/**/*                  @trik
/src/material/reports/*                            @trik
/src/material/time/*                               @trik

# Ajf ionic
/src/ionic/*                                       @trik
/src/ionic/barcode/*                               @peppedeka
/src/ionic/calendar/*                              @trik
/src/ionic/checkbox-group/*                        @trik
/src/ionic/forms/*                                 @trik
/src/ionic/image/*                                 @trik
/src/ionic/node-icon/*                             @trik
/src/ionic/page-slider/*                           @trik
/src/ionic/reports/*                               @trik
/src/ionic/time/*                                  @trik

# Ajf monaco
/src/monaco/*                                      @trik
/src/monaco/lib/*                                  @trik
/src/monaco/src/*                                  @trik

# Ajf calendars
/src/calendars/*                                   @trik
/src/calendars/ethiopian/*                         @trik

# Docs examples & guides
/guides/**                                         @trik
/src/ajf-examples/**                               @trik

# Dev app
/src/dev-app/*                                     @trik
/src/dev-app/dev-app/**                            @trik
/src/dev-app/example/**                            @trik
/src/dev-app/examples-page/**                      @trik
/src/dev-app/file-input/**                         @trik
/src/dev-app/ion-barcode/**                        @peppedeka
/src/dev-app/ion-calendar/**                       @trik
/src/dev-app/ion-checkbox-group/**                 @trik
/src/dev-app/ion-fields/**                         @trik
/src/dev-app/ion-forms/**                          @trik
/src/dev-app/ion-image/**                          @trik
/src/dev-app/ion-node-icon/**                      @trik
/src/dev-app/ion-page-slider/**                    @trik
/src/dev-app/ion-reports/**                        @trik
/src/dev-app/ion-widgets/**                        @trik
/src/dev-app/mat-barcode/**                        @peppedeka
/src/dev-app/mat-calendar/**                       @trik
/src/dev-app/mat-calendar-ethiopian/**             @trik
/src/dev-app/mat-checkbox-group/**                 @trik
/src/dev-app/mat-form-builder/**                   @trik
/src/dev-app/mat-fields/**                         @trik
/src/dev-app/mat-forms/**                          @trik
/src/dev-app/mat-image/**                          @trik
/src/dev-app/mat-node-icon/**                      @trik
/src/dev-app/mat-page-slider/**                    @trik
/src/dev-app/mat-report-builder/**                 @trik
/src/dev-app/mat-reports/**                        @trik
/src/dev-app/mat-time/**                           @trik
/src/dev-app/mat-widgets/**                        @trik

# E2E app
/src/e2e-app/*                                     @trik
/src/e2e-app/e2e-app/*                             @trik
/src/e2e-app/example-viewer/*                      @trik
/src/e2e-app/file-input/*                          @trik
/src/e2e-app/ion-calendar/*                        @trik
/src/e2e-app/ion-form/*                            @peppedeka
/src/e2e-app/ion-date-input-field/*                @trik
/src/e2e-app/ion-table-field/*                     @trik
/src/e2e-app/mat-calendar/*                        @trik
/src/e2e-app/mat-form/*                            @peppedeka
/src/e2e-app/mat-date-input-field/*                @trik
/src/e2e-app/mat-table-field/*                     @trik

# Universal app
/src/universal-app/**                              @trik

# Integration tests
/integration/**                                    @trik

# Tooling
/.circleci/**                                      @trik
/.jenkins/**                                       @trik
/.yarn/**                                          @trik
/scripts/**                                        @trik
/test/**                                           @trik
/tools/**                                          @trik

# Misc
/.github/**                                        @trik
/.github/CODEOWNERS                                @trik
/.github/ISSUE_TEMPLATE/**                         @trik
/.vscode/**                                        @trik
/.ng-dev/**                                        @trik
/goldens/size-test.yml                             @trik
/goldens/**                                        @trik
/src/*                                             @trik
/*                                                 @trik
