# Ajf core
/src/core/*                                        @peppedeka
/src/core/barcode/*                                @peppedeka
/src/core/calendar/*                               @sara-gnucoop
/src/core/chart/*                                  @sara-gnucoop
/src/core/checkbox-group/*                         @mrumbrella
/src/core/common/*                                 @mrumbrella
/src/core/file-input/**/*                          @sara-gnucoop
/src/core/forms/**/*                               @peppedeka
/src/core/forms/form-to-pdf/*                      @robzan8
/src/core/image/*                                  @peppedeka
/src/core/map/*                                    @peppedeka
/src/core/models/**/*                              @peppedeka
/src/core/node-icon/*                              @peppedeka
/src/core/page-break/*                             @peppedeka
/src/core/page-slider/*                            @peppedeka
/src/core/pdfmake/*                                @peppedeka
/src/core/range/*                                  @peppedeka
/src/core/reports/**/*                             @peppedeka
/src/core/reports/report-to-pdf/*                  @robzan8
/src/core/table/*                                  @peppedeka
/src/core/testing/private/**/*                     @peppedeka
/src/core/transloco/*                              @peppedeka
/src/core/text/*                                   @peppedeka
/src/core/time/*                                   @peppedeka
/src/core/utils/*                                  @peppedeka

# Ajf material
/src/material/*                                    @peppedeka
/src/material/barcode/*                            @peppedeka
/src/material/calendar/*                           @sara-gnucoop
/src/material/checkbox-group/*                     @mrumbrella
/src/material/form-builder/*                       @mrumbrella
/src/material/forms/*                              @peppedeka
/src/material/image/*                              @peppedeka
/src/material/monaco-editor/*                      @peppedeka
/src/material/node-icon/*                          @peppedeka
/src/material/page-slider/*                        @peppedeka
/src/material/range/*                              @peppedeka
/src/material/reports/*                            @peppedeka
/src/material/time/*                               @peppedeka

# Ajf ionic
/src/ionic/*                                       @peppedeka
/src/ionic/barcode/*                               @peppedeka
/src/ionic/calendar/*                              @sara-gnucoop
/src/ionic/checkbox-group/*                        @mrumbrella
/src/ionic/forms/*                                 @peppedeka
/src/ionic/image/*                                 @peppedeka
/src/ionic/node-icon/*                             @peppedeka
/src/ionic/page-slider/*                           @peppedeka
/src/ionic/reports/*                               @peppedeka
/src/ionic/time/*                                  @peppedeka

# Ajf monaco
/src/monaco/*                                      @peppedeka
/src/monaco/lib/*                                  @peppedeka
/src/monaco/src/*                                  @peppedeka

# Ajf calendars
/src/calendars/*                                   @sara-gnucoop
/src/calendars/ethiopian/*                         @sara-gnucoop

# Docs examples & guides
/guides/**                                         @peppedeka
/src/ajf-examples/**                               @peppedeka

# Dev app
/src/dev-app/*                                     @peppedeka
/src/dev-app/dev-app/**                            @peppedeka
/src/dev-app/example/**                            @peppedeka
/src/dev-app/examples-page/**                      @peppedeka
/src/dev-app/file-input/**                         @peppedeka
/src/dev-app/i18n/**                               @peppedeka
/src/dev-app/ion-barcode/**                        @peppedeka
/src/dev-app/ion-calendar/**                       @sara-gnucoop
/src/dev-app/ion-checkbox-group/**                 @peppedeka
/src/dev-app/ion-fields/**                         @peppedeka
/src/dev-app/ion-forms/**                          @peppedeka
/src/dev-app/ion-image/**                          @peppedeka
/src/dev-app/ion-node-icon/**                      @peppedeka
/src/dev-app/ion-page-slider/**                    @peppedeka
/src/dev-app/ion-reports/**                        @peppedeka
/src/dev-app/ion-widgets/**                        @peppedeka
/src/dev-app/mat-barcode/**                        @peppedeka
/src/dev-app/mat-calendar/**                       @sara-gnucoop
/src/dev-app/mat-calendar-ethiopian/**             @sara-gnucoop
/src/dev-app/mat-checkbox-group/**                 @peppedeka
/src/dev-app/mat-form-builder/**                   @peppedeka
/src/dev-app/mat-fields/**                         @peppedeka
/src/dev-app/mat-forms/**                          @peppedeka
/src/dev-app/mat-image/**                          @peppedeka
/src/dev-app/mat-node-icon/**                      @peppedeka
/src/dev-app/mat-page-slider/**                    @peppedeka
/src/dev-app/mat-report-from-form/**               @peppedeka
/src/dev-app/mat-report-from-xls/**                @peppedeka
/src/dev-app/mat-reports/**                        @peppedeka
/src/dev-app/mat-time/**                           @peppedeka
/src/dev-app/mat-widgets/**                        @peppedeka

# E2E app
/src/e2e-app/*                                     @peppedeka
/src/e2e-app/e2e-app/*                             @peppedeka
/src/e2e-app/example-viewer/*                      @peppedeka
/src/e2e-app/file-input/*                          @peppedeka
/src/e2e-app/ion-calendar/*                        @sara-gnucoop
/src/e2e-app/ion-date-input-field/*                @peppedeka
/src/e2e-app/ion-form/*                            @peppedeka
/src/e2e-app/ion-report/*                          @peppedeka
/src/e2e-app/ion-table-field/*                     @peppedeka
/src/e2e-app/mat-calendar/*                        @sara-gnucoop
/src/e2e-app/mat-date-input-field/*                @peppedeka
/src/e2e-app/mat-form/*                            @peppedeka
/src/e2e-app/mat-report/*                          @peppedeka
/src/e2e-app/mat-table-field/*                     @peppedeka

# Universal app
/src/universal-app/**                              @peppedeka

# Integration tests
/integration/**                                    @peppedeka

# Tooling
/.circleci/**                                      @peppedeka
/.jenkins/**                                       @peppedeka
/.yarn/**                                          @peppedeka
/scripts/**                                        @peppedeka
/test/**                                           @peppedeka
/tools/**                                          @peppedeka

# Misc
/.github/**                                        @peppedeka
/.github/CODEOWNERS                                @peppedeka
/.github/ISSUE_TEMPLATE/**                         @peppedeka
/.husky/**                                         @peppedeka
/.vscode/**                                        @peppedeka
/.ng-dev/**                                        @peppedeka
/goldens/size-test.yml                             @peppedeka
/goldens/**                                        @peppedeka
/src/*                                             @peppedeka
/*                                                 @peppedeka
