# Ajf core
/src/core/*                                        @trik
/src/core/calendar/*                               @trik
/src/core/chart/*                                  @trik
/src/core/checkbox-group/*                         @trik
/src/core/common/*                                 @trik
/src/core/forms/**/*                               @trik
/src/core/image/*                                  @trik
/src/core/map/*                                    @trik
/src/core/models/**/*                              @trik
/src/core/node-icon/*                              @trik
/src/core/page-break/*                             @trik
/src/core/page-slider/*                            @trik
/src/core/reports/**/*                             @trik
/src/core/table/*                                  @trik
/src/core/text/*                                   @trik
/src/core/time/*                                   @trik
/src/core/utils/*                                  @trik
/src/core/barcode/*                                @peppedeka

# Ajf material
/src/material/*                                    @trik
/src/material/barcode/*                            @peppedeka
/src/material/calendar/*                           @trik
/src/material/checkbox-group/*                     @trik
/src/material/form-builder/*                       @trik
/src/material/forms/*                              @trik
/src/material/image/*                              @trik
/src/material/monaco-editor/*                      @trik
/src/material/node-icon/*                          @trik
/src/material/page-slider/*                        @trik
/src/material/report-builder/**/*                  @trik
/src/material/reports/*                            @trik
/src/material/time/*                               @trik

# Ajf ionic
/src/ionic/*                                       @trik
/src/ionic/barcode/*                               @peppedeka
/src/ionic/calendar/*                              @trik
/src/ionic/checkbox-group/*                        @trik
/src/ionic/forms/*                                 @trik
/src/ionic/image/*                                 @trik
/src/ionic/node-icon/*                             @trik
/src/ionic/page-slider/*                           @trik
/src/ionic/reports/*                               @trik
/src/ionic/time/*                                  @trik

# Ajf monaco
/src/monaco/*                                      @trik
/src/monaco/lib/*                                  @trik
/src/monaco/src/*                                  @trik

# Ajf calendars
/src/calendars/*                                   @trik
/src/calendars/ethiopian/*                         @trik

# Docs examples & guides
/guides/**                                         @trik
/src/material-examples/**                          @trik
/src/ionic-examples/**                             @trik

# Dev app material
/src/dev-app-mat/*                                 @trik
/src/dev-app-mat/barcode/**                        @peppedeka
/src/dev-app-mat/calendar/**                       @trik
/src/dev-app-mat/calendar-ethiopian/**             @trik
/src/dev-app-mat/checkbox-group/**                 @trik
/src/dev-app-mat/dev-app/**                        @trik
/src/dev-app-mat/example/**                        @trik
/src/dev-app-mat/examples-page/**                  @trik
/src/dev-app-mat/form-builder/**                   @trik
/src/dev-app-mat/fields/**                         @trik
/src/dev-app-mat/forms/**                          @trik
/src/dev-app-mat/image/**                          @trik
/src/dev-app-mat/node-icon/**                      @trik
/src/dev-app-mat/page-slider/**                    @trik
/src/dev-app-mat/report-builder/**                 @trik
/src/dev-app-mat/reports/**                        @trik
/src/dev-app-mat/time/**                           @trik
/src/dev-app-mat/widgets/**                        @trik

# Dev app ionic
/src/dev-app-ion/*                                 @trik
/src/dev-app-ion/barcode/**                        @peppedeka
/src/dev-app-ion/calendar/**                       @trik
/src/dev-app-ion/checkbox-group/**                 @trik
/src/dev-app-ion/dev-app/**                        @trik
/src/dev-app-ion/example/**                        @trik
/src/dev-app-ion/examples-page/**                  @trik
/src/dev-app-ion/fields/**                         @trik
/src/dev-app-ion/forms/**                          @trik
/src/dev-app-ion/image/**                          @trik
/src/dev-app-ion/node-icon/**                      @trik
/src/dev-app-ion/page-slider/**                    @trik
/src/dev-app-ion/reports/**                        @trik
/src/dev-app-ion/widgets/**                        @trik

# E2E app material
/src/e2e-app-mat/*                                 @trik
/src/e2e-app-mat/calendar/*                        @trik
/src/e2e-app-mat/date-input-field/*                @trik
/src/e2e-app-mat/e2e-app/**                        @trik
/src/e2e-app-mat/example-viewer/**                 @trik
/src/e2e-app-mat/table-field/*                     @trik

# E2E app ionic
/src/e2e-app-ion/*                                 @trik
/src/e2e-app-ion/calendar/*                        @trik
/src/e2e-app-ion/date-input-field/*                @trik
/src/e2e-app-ion/e2e-app/**                        @trik
/src/e2e-app-ion/example-viewer/**                 @trik

# Universal app material
/src/universal-app-mat/**                          @trik

# Universal app ionic
/src/universal-app-ion/**                          @trik

# Tooling
/.circleci/**                                      @trik
/.jenkins/**                                       @trik
/scripts/**                                        @trik
/test/**                                           @trik
/tools/**                                          @trik

# Misc
/*                                                 @trik
/.github/**                                        @trik
/src/*                                             @trik
