ajf-field {
  .ajf-choices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .ajf-item-container {
    position: relative;
  }

  .ajf-errors {
    font-style: italic;
    padding: 5px;
  }

  tr.ajf-row-odd {
      background-color: grey;
  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    td {
      position: relative;

      span, input {
        cursor: text;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: inline-block;
        border-top: solid 1px #cccccc;
        border-right: solid 1px transparent;
        border-bottom: solid 1px transparent;
        border-left: solid 1px #cccccc;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: center;
      }

      &:last-child {
        span, input {
          border-right-color: #cccccc;
        }
      }
    }

    &:last-of-type {
      td {
        span, input {
          border-bottom-color: #cccccc;
        }
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
