<div
    [ngClass]="'ajf-field-' + (instance|ajfNodeCompleteName)"
    [class.ajf-validated]="instance.validationResults|ajfFieldIsValid"
>
  <ng-template ajf-field-host></ng-template>
</div>
<ng-container *ngIf="instance && instance.node && instance.node.attachments">
  <a *ngFor="let attachment of instance.node.attachments"
    [href]="attachment.value" target="_blank">{{attachment.label | translate}}</a>
</ng-container>
<div *ngIf="!readonly && instance && instance.validationResults" class="ajf-errors">
  <ng-container *ngFor="let res of instance.validationResults">
    <div class="error" *ngIf="!res.result">
      {{ res.error|translate }} 
    </div>
  </ng-container>
</div>
