<ng-container *ngIf="formGroup|async as fg">
  <form novalidate [formGroup]="fg">
    <div class="ajf-form-container">

      <mat-toolbar *ngIf="!hideTopToolbar" class="ajf-btn-strip">
        <ng-template ngFor let-slideInstance [ngForOf]="slides|async" [ngForTrackBy]="trackNodeById">
          <button mat-button class="ajf-topbar-button"
          *ngIf="topBar && slideInstance.node && slideInstance.node.label != null && slideInstance.node.label.length > 0"
              (click)="scrollToSlide(slideInstance)">{{slideInstance.node.label | translate}}</button>
        </ng-template>
      </mat-toolbar>

      <mat-toolbar *ngIf="!hideTopToolbar">
        {{ title }}
        <span class="ajf-spacer"></span>
        <button mat-button default *ngIf="!saveDisabled" (click)="onSave($event)"
            translate>Save</button>
      </mat-toolbar>
      <div class="ajf-slider-container">
        <ajf-page-slider (orientationChange)="orientationChangeHandler($event)"
            [fixedOrientation]="fixedOrientation"
            [hideNavigationButtons]="hideNavigationButtons"
            [orientation]="orientation"
            #formSlider>
          <ng-container *ngIf="(slides|async) as curSlides">
            <ng-container *ngIf="curSlides.length > 0 && hasStartMessage">
              <ajf-page-slider-item>
                <div class="ajf-form-page">
                  <mat-card>
                    <mat-card-header>
                      <div class="ajf-page-slider-item-header">
                        <h2>
                          <span class="ajf-form-header-number">
                            1 &rarr;
                          </span>
                          <span class="ajf-title">
                            <ng-content select="[ajfFormStartMessageTitle]"></ng-content>
                          </span>
                        </h2>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <ng-content select="[ajfFormStartMessage]"></ng-content>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ajf-page-slider-item>
            </ng-container>
            <ng-container *ngFor="let slideInstance of curSlides; trackBy:trackNodeById">
              <!-- non repeating slides -->
              <ng-container *ngIf="slideInstance.visible">
                <ng-container *ngIf="!(slideInstance|ajfIsRepeatingSlideInstance)">
                  <ajf-page-slider-item>
                    <div class="ajf-form-page">
                      <mat-card>
                        <mat-card-header>
                          <div class="ajf-page-slider-item-header">
                            <h2>
                              <span class="ajf-form-header-number">{{ slideInstance.position + hasStartMessage }} &rarr;</span>
                              <span [innerHTML]="slideInstance.node.label | translate"></span>
                            </h2>
                            <mat-icon class="ajf-warning" *ngIf="!slideInstance.valid">warning</mat-icon>
                            <mat-icon class="ajf-success" *ngIf="slideInstance.valid">check</mat-icon>
                          </div>
                        </mat-card-header>
                        <mat-card-content>
                          <ng-template ngFor let-fieldInstance [ngForOf]="slideInstance.flatNodes" [ngForTrackBy]="trackNodeById">
                            <div [ngClass]="'ajf-' + fieldInstance.node.size" class="ajf-field-entry" *ngIf="fieldInstance.visible">
                              <i [class]="fieldInstance.node.fieldType | ajfFieldIcon" item-right></i>
                              <p>{{ fieldInstance.node.description | translate }}</p>
                              <label *ngIf="fieldInstance.node.fieldType !== 7" [innerHTML]="fieldInstance.node.label | translate"></label>
                              <ajf-field [instance]="fieldInstance" [readonly]="readonly"></ajf-field>
                            </div>
                          </ng-template>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </ajf-page-slider-item>
                </ng-container>
                <!-- repeating slides -->
                <ng-container *ngIf="(slideInstance|ajfIsRepeatingSlideInstance)">
                  <ajf-page-slider-item *ngFor="let curRep of (slideInstance.reps|ajfRange); let idx = index; let lastSlide = last">
                    <div class="ajf-form-page">
                      <mat-card>
                        <mat-card-header>
                          <div class="ajf-page-slider-item-header">
                            <h2>
                              <span class="ajf-form-header-number">{{ slideInstance.position|ajfIncrement:idx + hasStartMessage }} &rarr;</span>
                              <span [innerHTML]="slideInstance.node.label | translate"></span>
                            </h2>
                            <mat-icon class="ajf-warning" *ngIf="!(slideInstance|ajfValidSlide:idx)">warning</mat-icon>
                            <mat-icon class="ajf-success" *ngIf="(slideInstance|ajfValidSlide:idx)">check</mat-icon>
                          </div>
                        </mat-card-header>
                        <mat-card-content>
                          <div *ngIf="lastSlide" class="ajf-group-actions">
                            <button (click)="addGroup(slideInstance)" [disabled]="!slideInstance.canAdd" mat-mini-fab>
                              <mat-icon>add</mat-icon>
                            </button>
                            <button (click)="removeGroup(slideInstance)" [disabled]="!slideInstance.canRemove" mat-mini-fab>
                              <mat-icon>remove</mat-icon>
                            </button>
                          </div>
                          <ng-template ngFor let-fieldInstance [ngForOf]="slideInstance.slideNodes[idx]" [ngForTrackBy]="trackNodeById">
                            <div [ngClass]="'ajf-' + fieldInstance.node.size" class="ajf-field-entry" *ngIf="fieldInstance.visible">
                              <i [class]="fieldInstance.node.fieldType | ajfFieldIcon" item-right></i>
                              <p>{{ fieldInstance.node.description | translate }}</p>
                              <label [innerHTML]="fieldInstance.node.label | translate"></label>
                              <ajf-field [instance]="fieldInstance" [readonly]="readonly"></ajf-field>
                            </div>
                          </ng-template>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </ajf-page-slider-item>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="curSlides.length > 0 && hasEndMessage">
              <ajf-page-slider-item>
                <div class="ajf-form-page">
                  <mat-card>
                    <mat-card-header>
                      <div class="ajf-page-slider-item-header">
                        <h2>
                          <span *ngIf="(slidesNum|async) as snum" class="ajf-form-header-number">
                            {{ snum + (hasStartMessage | ajfBoolToInt ) + 1 }} &rarr;
                          </span>
                          <span class="ajf-title">
                            <ng-content select="[ajfFormEndMessageTitle]"></ng-content>
                          </span>
                        </h2>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <ng-content select="[ajfFormEndMessage]"></ng-content>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ajf-page-slider-item>
            </ng-container>
          </ng-container>
          <div ajfPageSliderBar *ngIf="!hideBottomToolbar">
            <div class="ajf-left-bar">
              <div class="ajf-errors" *ngIf="((errors | async) || 0) > 0">
                <button mat-button (click)="goToPrevError()" danger>
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button mat-button (click)="goToNextError()" danger>
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
              <div class="ajf-info-box ajf-error">
                <div class="ajf-title" translate>Errors</div>
                <div class="ajf-content">
                  {{ errors | async }} / {{ slidesNum|async }}
                </div>
              </div>
            </div>
          </div>
        </ajf-page-slider>
      </div>
    </div>
  </form>
</ng-container>
