<ng-container *ngIf="!(instance|ajfExpandFieldWithChoices:searchThreshold); else expanded">
  <mat-select *ngIf="control|async as ctrl" [formControl]="ctrl!" [multiple]="true" [disabled]="readonly">
    <mat-option [value]="choice.value"
        *ngFor="let choice of instance.filteredChoices">
      {{ choice.label | translate }}
    </mat-option>
  </mat-select>
</ng-container>
<ng-template #expanded>
  <ajf-checkbox-group *ngIf="control|async as ctrl" class="ajf-choices-container"
      [formControl]="ctrl!">
    <ajf-checkbox-group-item *ngFor="let choice of instance.filteredChoices"
        [readonly]="readonly"
        [value]="choice.value">
      {{ choice.label | translate }}
    </ajf-checkbox-group-item>
  </ajf-checkbox-group>
</ng-template>
