<table class="ajf-table-field">
  <ng-container *ngIf="instance.node as node">
    <ng-container *ngFor="let columns of instance.controls; let row = index">
      <tr [ngClass]="row | ajfTableRowClass">
        <td>
          <ng-container *ngIf="columns.length > 0 && columns[0] != null">
            {{ columns[0] | ajfTranslateIfString | ajfFormatIfNumber: '.0-2' }}
          </ng-container>
        </td>
        <ng-container *ngIf="columns.length > 1">
          <td *ngFor="let c of columns[1]; let column = index">
            <ng-container *ngIf="row == 0; else controlCell">
              {{ c | ajfTranslateIfString | ajfFormatIfNumber: '.0-2' }}
            </ng-container>
            <ng-template #controlCell>
              <ng-container *ngIf="c|ajfGetTableCellControl as contr">
                <ng-container *ngIf="contr != null">
                  <input *ngIf="contr!.show && (node.rows[row-1][column]|ajfIsCellEditable); else plainTextCell"
                    (focusout)="contr!.show = false" type="number" [formControl]="contr.control"
                    (keydown.tab)="goToNextCell($event, row, column)" autoFocus>
                  <ng-template #plainTextCell>
                    <span class="ajf-table-cell"
                      (click)="goToCell(row, column)">{{ contr.control!.value | ajfTranslateIfString | ajfFormatIfNumber: '.0-2' }}</span>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-container>
</table>