table.ajf-table-field {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tr {
    td {
      position: relative;

      span, input {
        cursor: text;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: inline-block;
        border-top: solid 1px #cccccc;
        border-right: solid 1px transparent;
        border-bottom: solid 1px transparent;
        border-left: solid 1px #cccccc;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: center;
      }

      &:last-child {
        span, input {
          border-right-color: #cccccc;
        }
      }
    }

    &:last-of-type {
      td {
        span, input {
          border-bottom-color: #cccccc;
        }
      }
    }
  }
}
