<table class="ajf-table-field">
  <ng-container *ngIf="!instance.node.editable else editableTmpl">
    <ng-container *ngFor="let columns of (instance|ajfTableVisibleColumns); let i = index">
      <tr [ngClass]="i | ajfTableRowClass">
        <td *ngFor="let cellValue of columns" >
          {{ cellValue | ajfTranslateIfString | ajfFormatIfNumber: '.0-2' }}
        </td>
      </tr>
    </ng-container>
  </ng-container>
  <ng-template #editableTmpl>
    <ng-container *ngFor="let columns of instance.controls; let indexRows = index">
      <tr [ngClass]="indexRows | ajfTableRowClass">
        <td>
          <ng-container *ngIf="columns[0] != null">
            {{ columns[0] | ajfTranslateIfString | ajfFormatIfNumber: '.0-2' }}
          </ng-container>
        </td>
        <td *ngFor="let contr of columns[1]; let indexColums = index">
          <ng-container *ngIf="contr != null">
            <input
                *ngIf="contr.show"
                (focusout)="contr.show = false"
                type="number"
                [formControl]="contr"
                (keydown.tab)="goToNextCell($event, indexColums, indexRows)"
                autoFocus
            >
            <span
                *ngIf="!contr.show"
                class="ajf-table-cell"
                (click)="contr.show ? contr.show = false : contr.show = true;"
            >{{ contr.value | ajfTranslateIfString | ajfFormatIfNumber: '.0-2' }}</span>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </ng-template>
</table>
