<div class="ajf-calendar-header">
  <button (click)="prevPage()" mat-mini-fab>&#8592;</button>
  <button (click)="previousViewMode()" mat-button class="ajf-calendar-header-title">
    {{ viewHeader | transloco }}
  </button>
  <button (click)="nextPage()" mat-mini-fab>&#8594;</button>
</div>
<div class="ajf-calendar-row" *ngIf="calendarHeaders.length > 0">
  <div *ngFor="let calendarHeader of calendarHeaders">
    {{ calendarHeader | transloco }}
  </div>
</div>
<div class="ajf-calendar-row" *ngFor="let row of calendarRows">
  <button
      *ngFor="let entry of row"
      mat-raised-button
      [class.ajf-calendar-partial-selection]="entry.selected == 'partial'"
      [disabled]="disabled || (entry.disabled || false)"
      [color]="entry.selected != 'none' ? 'warn' : undefined"
      (click)="selectEntry(entry)"
  >{{ entry|ajfCalendarEntryLabel }}</button>
</div>
