ajf-fb-choices-origin-editor {
  mat-form-field + mat-form-field {
    margin-left: 1em;
  }
  .mat-mdc-table {
    max-height: 300px;

    mat-icon {
      cursor: pointer;
    }
  }

  .mat-mdc-input-element {
    max-width: 100%;
  }

  .ajf-fb-field-error {
    color: var(--mdc-theme-error, #f44336);
    font-size: 12px;
    margin-left: 1em;
    vertical-align: middle;
  }

  .ajf-fb-choice-invalid {
    border-bottom-color: var(--mdc-theme-error, #f44336) !important;
    caret-color: var(--mdc-theme-error, #f44336);
  }
}
