ajf-fb-choices-origin-editor {
  mat-form-field + mat-form-field {
    margin-left: 1em;
  }
  .mat-mdc-table {
    max-height: 300px;

    mat-icon {
      cursor: pointer;
    }
  }

  .mat-mdc-input-element {
    max-width: 100%;
  }
}
