ajf-condition-editor {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 512px;

  .ajf-editor {
    flex: 0.75 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .ajf-editor-panel {
    flex: 0.25 0 auto;
    overflow-y: auto;
    .mat-mdc-nav-list {
      max-height: 30vh;
      overflow-y: auto;
    }
  }

  .ajf-formula-editor {
    min-width: 40vw;
  }
}
