<div class="ajf-editor">
  <ajf-monaco-editor
      (init)="onEditorInit()"
      (valueChange)="editedValue = $event"
      [value]="condition" language="javascript"></ajf-monaco-editor>
</div>
<div class="ajf-editor-panel">
  <ng-container *ngIf="fields as curFields">
    <mat-nav-list dense *ngIf="curFields!.length > 0">
      <a mat-list-item
          (click)="insertVariable(field.name)"
          [matTooltip]="field.label"
          *ngFor="let field of curFields!">
        <ajf-node-icon [node]="field"></ajf-node-icon>
        {{ field.name }}
      </a>
    </mat-nav-list>
  </ng-container>
</div>
