ajf-form-builder {
  display: flex;
  position: relative;
  min-height: 300px;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;

  mat-toolbar.ajf-formbuilder-toolbar {
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: 2px 0px;
    mat-menu {
      div[mat-menu-item] {
        > button[mat-button] {
          flex: 1 0 auto;
        }
        > button[mat-icon-button] {
          flex: 0 0 auto;
        }
      }
    }
  }
  .ajf-formtree-container {
    display: flex;
    flex-flow: row;
    align-items: start;
    justify-content: space-between;
    mat-drawer-container.ajf-formtree-drawer-container {
      flex: 1 0 auto;
      min-height: 50vh;
      mat-drawer {
        max-width: 20%;
      }
      .ajf-designer {
        padding: 2;
      }
      .mat-expansion-panel-body {
        padding: 10px;
      }
    }
    .ajf-formtree-properties {
      flex: 0 1 auto;
      max-width: 20%;
    }
  }

  mat-toolbar {
    .ajf-spacer {
      flex: 1 1 auto;
    }
  }
}
