<div>
  <mat-form-field>
    <input matInput [(ngModel)]="name"
        [placeholder]="'Name' | translate">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="label"
        [placeholder]="'Label' | translate">
  </mat-form-field>
  <ng-template [ngIf]="canEditChoices">
    <button (click)="addRow()" mat-button>
      <mat-icon>add</mat-icon>
      <span translate>Add value</span>
    </button>
    <mat-table [dataSource]="choices">
      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef translate>Label</mat-header-cell>
        <mat-cell *matCellDef="let row; let idx = index">
          <span [title]="'Double click to edit' | translate"
              (dblclick)="editing[idx + '-label'] = true"
              *ngIf="!editing[idx + '-label']">
            <span *ngIf="row.label">{{ row.label }}</span>
            <span *ngIf="!row.label" translate>(no label)</span>
          </span>
          <input autofocus
              #in1
              (blur)="updateValue($event, 'label', in1.value, idx)"
              *ngIf="editing[idx + '-label']"
              type="text"
              [value]="row.label">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef translate>Value</mat-header-cell>
        <mat-cell *matCellDef="let row; let idx = index">
          <span [title]="'Double click to edit' | translate"
              (dblclick)="editing[idx + '-value'] = true"
              *ngIf="!editing[idx + '-value']">
            <span *ngIf="row.value">{{ row.value }}</span>
            <span *ngIf="!row.value" translate>(no value)</span>
          </span>
          <input autofocus
              #in2
              (blur)="updateValue($event, 'value', in2.value, idx)"
              *ngIf="editing[idx + '-value']"
              type="text"
              [value]="row.value">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef translate>Delete</mat-header-cell>
        <mat-cell *matCellDef="let row; let idx = index">
            <mat-icon (click)="deleteRow(idx)">delete</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
</div>
