ajf-condition-editor {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 512px;

  .ajf-editor {
    flex: 0.75 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    monaco-editor {
      flex: 1 0 auto;
      min-width: 512px;
      min-height: 256px;
    }
  }

  .ajf-editor-panel {
    flex: 0.25 0 auto;
    overflow-y: auto;
  }

  ajf-monaco-editor {
    min-width: 400px;
  }
}
