<mat-toolbar>
  <button mat-icon-button (click)="leftSidenav.toggle()">
    <mat-icon>add_box</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="choicesMenu" translate>Choices</button>
  <mat-menu #choicesMenu>
    <button (click)="createChoicesOrigin()" mat-menu-item translate>New..</button>
    <ng-container *ngIf="choicesOrigins|async as cos">
      <button *ngFor="let choicesOrigin of cos"
          (click)="editChoicesOrigin(choicesOrigin)" mat-menu-item>
        {{ choicesOrigin.label || choicesOrigin.name }}
      </button>
    </ng-container>
  </mat-menu>
  <span class="ajf-spacer"></span>
  <button mat-icon-button (click)="rightSidenav.toggle()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container cdkDropListGroup>
  <mat-drawer #leftSidenav position="start" mode="over">
    <div #sourceDropList cdkDropList
        [cdkDropListEnterPredicate]="disableDropPredicate"
        [cdkDropListData]="nodeTypes">
      <ajf-fb-node-type-entry *ngFor="let nodeType of nodeTypes"
          cdkDrag
          [cdkDragData]="nodeType"
          (cdkDragStarted)="leftSidenav.close()"
          [nodeType]="nodeType"></ajf-fb-node-type-entry>
    </div>
  </mat-drawer>
  <mat-drawer #rightSidenav position="end" mode="side" [opened]="true">
    <ajf-fb-node-properties></ajf-fb-node-properties>
  </mat-drawer>
  <div #designer class="ajf-designer">
    <ajf-fb-node-entry
        *ngFor="let nodeEntry of (nodeEntriesTree|async); let isFirst = first"
        [isFirst]="isFirst"
        [nodeEntry]="nodeEntry"></ajf-fb-node-entry>
  </div>
</mat-drawer-container>
