ajf-fb-node-properties {
  display: block;
  padding: 1em;

  position: relative;

  mat-icon {
    cursor: pointer;
  }

  .ajf-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    > h3, > label {
      flex: 1 0 auto;
      margin-right: 0.5em;
    }
    > mat-icon {
      flex: 0 0 auto;
      margin-left: 0.5em;
    }
  }

  .ajf-disabled-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background-color: #ffffff;
  }

  .ajf-select-container {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .ajf-emph {
    font-style: italic;
  }

  [mat-raised-button] {
    margin: 0.5em 0;

    &.ajf-pointer {
      cursor: pointer;
    }

    .ajf-icon-cont {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        min-height: 36px;
      }
    }
  }

  .ajf-validation-row {
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      flex: 1 1 auto;
    }

    mat-icon {
      flex: 0 0 auto;
    }
  }

  .ajf-prop {
    margin: 0.5em 0;
  }

  mat-form-field, mat-slider, [mat-raised-button] {
    width: 100%;
  }
}
