<ng-container *ngIf="nodeEntry != null ; else rootEmpty">
  <ng-template [ngIf]="isNodeEntry && !isLastNode()">
    <ajf-fb-branch-line
      *ngFor="let childNodeEntry of realNodeEntry.children; let idx = index"
      [offset]="idx"
      [color]="branchColors[idx]"
    ></ajf-fb-branch-line>
  </ng-template>

  <div
    class="mat-card-container"
    [class.ajf-highlight]="(currentEditedNode|async) == nodeEntry"
  >
    <div
      *ngIf="!isFirst"
      class="ajf-origin-line"
      [style.margin-left]="originLeftMargin"
      [style.border-color]="firstBranchColor"
    ></div>
    <ng-template [ngIf]="isNodeEntry">
      <ng-container *ngIf="!isDraggable; else draggable">
        <mat-card>
          <ng-container *ngTemplateOutlet="cardTitle"></ng-container>
          <ng-container *ngTemplateOutlet="cardContent"></ng-container>
        </mat-card>
      </ng-container>

      <ng-template #draggable>
        <mat-card cdkDrag [cdkDragData]="realNodeEntry" class="ajf-draggable-box">
          <ng-container
            *ngIf="isSlide(realNodeEntry.node); else fieldPanel"
          >
            <ng-container *ngTemplateOutlet="slidePanel"></ng-container>
          </ng-container>
        </mat-card>
      </ng-template>

      <ng-template #slidePanel>
        <mat-expansion-panel
          [expanded]="isExpanded"
          (opened)="isExpanded = true"
          (closed)="isExpanded = false"
          class="mat-elevation-z"
        >
          <mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="cardTitle"></ng-container>
          </mat-expansion-panel-header>
          <ng-container *ngTemplateOutlet="cardContent"></ng-container>
        </mat-expansion-panel>
      </ng-template>

      <ng-template #fieldPanel>
        <ng-container *ngTemplateOutlet="cardTitle"></ng-container>
        <ng-container *ngTemplateOutlet="cardContent"></ng-container>
      </ng-template>

      <ng-template #cardTitle>
        <div class="ajf-title-row">
          <ajf-node-icon [node]="realNodeEntry.node"></ajf-node-icon>
          <span
            class="ajf-title"
            [innerHTML]="(realNodeEntry.node.label || realNodeEntry.node.name)  | translate"
          ></span>
          <span
            *ngIf="realNodeEntry.node.visibility && realNodeEntry.node.visibility?.condition !== 'true'"
            class="ajf-visibility-condition"
            [innerHTML]="'Condition: (' + realNodeEntry.node.visibility?.condition + ')'"
          >
          </span>
          <span class="ajf-actions">
            <button
              [disabled]="(currentEditedNode|async) == nodeEntry"
              (click)="edit($event)"
              mat-icon-button
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              [disabled]="(currentEditedNode|async) == null"
              (click)="delete($event)"
              mat-icon-button
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>
      </ng-template>

      <ng-template #cardContent>
        <div *ngIf="hasContent">
          <ajf-fb-node-entry
            cdkDropList
            class="ajf-fields-list"
            *ngFor="let contentEntry of realNodeEntry.content; let isFirstChild = first; let idx = index"
            [id]="assignId()"
            [level]="level + 1"
            [isFirst]="isFirstChild"
            [firstBranchColor]="branchColors[idx]"
            [nodeEntry]="contentEntry"
            [cdkDropListEnterPredicate]="disableSlideDrop"
            (cdkDropListDropped)="onDrop($event, true)"
            [isExpanded]="isExpanded"
          ></ajf-fb-node-entry>
          <mat-card
            class="ajf-empty"
            *ngIf="realNodeEntry.content.length === 0"
            cdkDropList
            [id]="assignId(true)"
            [cdkDropListEnterPredicate]="disableSlideDrop"
            (cdkDropListDropped)="onDrop($event, true)"
            ><mat-card-title>Drop your fields here</mat-card-title></mat-card
          >
        </div>
      </ng-template>
    </ng-template>
  </div>

  <ng-template [ngIf]="isNodeEntry">
    <ng-container
      *ngFor="let childNodeEntry of realNodeEntry.children; let idx = index"
    >
      <ajf-fb-node-entry
        *ngIf="!isLastNode()"
        [level]="level"
        [originOffset]="idx"
        [firstBranchColor]="branchColors[idx]"
        [nodeEntry]="childNodeEntry"
        [isExpanded]="isExpanded"
      ></ajf-fb-node-entry>
    </ng-container>
  </ng-template>
</ng-container>

<ng-template #rootEmpty>
  <div class="mat-card-container">
    <mat-card
      class="ajf-empty"
      cdkDropList
      [cdkDropListEnterPredicate]="emptyAreaDropPredicate()"
      (cdkDropListDropped)="onDrop($event)"
      ><mat-card-title>Drop your slides here</mat-card-title>
    </mat-card>
  </div>
</ng-template>
