<ng-container *ngIf="value; else barcode">
  <div class="ajf-code-container">
    <span>{{ value }}</span>
    <button mat-raised-button (click)="reset()">
      <mat-icon style="transform: rotate(90deg)">format_align_justify</mat-icon>
    </button>
  </div>
</ng-container>
<ng-template #barcode>
  <mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab [label]="'Image'| transloco">
      <div class="ajf-drop-container">
        <div class="ajf-dropzone" ajfDnd (file)="onSelectDrop($event)">
          <div class="ajf-text-wrapper">
            <div class="ajf-centered">
              <a mat-button (click)="fileInput.click()">{{'Drop your image here or click to select'|transloco}}</a>
            </div>
          </div>
        </div>
        <div #barcodeImagePreview class="ajf-barcode-image-preview"></div>
      </div>
      <input
        #fileInput
        type="file"
        (change)="onSelectFile($event)"
        multiple
        style="display: none"
      />
    </mat-tab>
    <mat-tab [label]="'Camera'|transloco">
      <div class="ajf-barcode-video">
        <ng-container *ngIf="supportsVideoStream; else noVideo">
          <div *ngIf="showSwitchButton" class="ajf-barcode-switch-camera">
            <button mat-icon-button (click)="switchCamera()"><mat-icon>switch_camera</mat-icon></button>
          </div>
          <div #barcodeVideoPreview class="ajf-video-preview ajf-video-preview-hidden">
            <div *ngIf="value && value.length > 0">{{ value }}</div>
          </div>
          <video #barcodeVideo autoplay playsinline muted></video>
        </ng-container>
        <ng-template #noVideo>

        </ng-template>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
