ajf-barcode {
  .ajf-code-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    button {
      margin-left: 10px;
    }
  }

  .ajf-drop-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    .ajf-dropzone {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      min-height: 480px;
      display: table;
      background-color: #eee;
      border: dotted 1px #aaa;
      .ajf-text-wrapper {
        display: table-cell;
        vertical-align: middle;
      }
      .ajf-centered {
        font-family: sans-serif;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
