<ng-container *ngIf="formGroup|async as fg">
  <form [class.ajf-form-readonly]="readonly" novalidate [formGroup]="fg!">
    <div class="ajf-form-container">
      <mat-toolbar *ngIf="!hideTopToolbar && topBar" class="ajf-btn-strip">
        <mat-button-toggle-group>
          <ng-container
            *ngFor="let slideInstance of (slides|async); let idx = index; trackBy: trackNodeById"
          >
            <mat-button-toggle
              *ngIf="slideInstance.node.label && slideInstance.node.label.length > 0"
              class="ajf-topbar-button"
              (click)="scrollToSlide(slideInstance)"
              [checked]="isSlideToggleChecked(slideInstance, formSlider.currentPage)"
              [disabled]="slideInstance.visible === false"
            >
              {{slideInstance.node.label | transloco}} {{ getRepeatingSlideRepIndex(slideInstance,
              formSlider.currentPage)|async}}
              <mat-icon *ngIf="!slideInstance.valid" class="ajf-warning">warning</mat-icon>
              <mat-icon *ngIf="slideInstance.valid" class="ajf-success">check</mat-icon>
            </mat-button-toggle>
          </ng-container>
        </mat-button-toggle-group>
      </mat-toolbar>
      <mat-toolbar *ngIf="!hideTopToolbar">
        {{ title }}
        <span class="ajf-spacer"></span>
        <!-- this content projection allow to add buttons on toolbar -->
        <ng-content select="[ajfFormTopToolbarButtons]"></ng-content>
        <!-- apply a default save button only when ajfFormSaveButton is empty -->
        <span *ngIf="!saveDisabled" (click)="onSave($event)">
          <span #saveButton><ng-content select="[ajfFormSaveButton]"></ng-content></span>
          <button
            *ngIf="saveButton && saveButton.childNodes && saveButton.childNodes.length === 0"
            mat-button
            default
          >
            {{'Save'|transloco}}
          </button>
        </span>
      </mat-toolbar>
      <div class="ajf-slider-container">
        <ajf-page-slider
          (orientationChange)="orientationChangeHandler($event)"
          [fixedOrientation]="fixedOrientation"
          [hideNavigationButtons]="hideNavigationButtons"
          [orientation]="orientation"
          #formSlider
        >
          <ng-container *ngIf="(slides|async) as curSlides">
            <ng-container *ngIf="curSlides!.length > 0 && hasStartMessage">
              <ajf-page-slider-item>
                <div class="ajf-form-page">
                  <mat-card appearance="outlined">
                    <mat-card-header>
                      <div class="ajf-page-slider-item-header">
                        <h2>
                          <span class="ajf-form-header-number"> 1 &rarr; </span>
                          <span class="ajf-title">
                            <ng-content select="[ajfFormStartMessageTitle]"></ng-content>
                          </span>
                        </h2>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <ng-content select="[ajfFormStartMessage]"></ng-content>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ajf-page-slider-item>
            </ng-container>
            <ng-container *ngFor="let slideInstance of curSlides; trackBy:trackNodeById">
              <!-- non repeating slides -->
              <ng-container *ngIf="slideInstance.visible">
                <ng-container *ngIf="!(slideInstance|ajfIsRepeatingSlideInstance)">
                  <ajf-page-slider-item>
                    <div class="ajf-form-page">
                      <mat-card appearance="outlined">
                        <mat-card-header>
                          <div class="ajf-page-slider-item-header">
                            <h2>
                              <span class="ajf-form-header-number"
                                >{{ slideInstance.position + (hasStartMessage | ajfBoolToInt) }}
                                &rarr;</span
                              >
                              <span [innerHTML]="slideInstance.node.label | transloco"></span>
                            </h2>
                            <mat-icon class="ajf-warning" *ngIf="!slideInstance.valid"
                              >warning</mat-icon
                            >
                            <mat-icon class="ajf-success" *ngIf="slideInstance.valid"
                              >check</mat-icon
                            >
                          </div>
                        </mat-card-header>
                        <mat-card-content>
                          <ng-template
                            ngFor
                            let-fieldInstance
                            [ngForOf]="slideInstance.flatNodes"
                            [ngForTrackBy]="trackNodeById"
                          >
                            <mat-card
                              appearance="outlined"
                              [ngClass]="'ajf-' + (fieldInstance|ajfAsFieldInstance).node.size +
                              ' ajf-max-columns-' + maxColumns +
                              (centeredFieldsContent ? ' ajf-centered-field' : '')"
                              class="ajf-field-entry"
                              *ngIf="fieldInstance.visible"
                            >
                              <i
                                [class]="(fieldInstance|ajfAsFieldInstance).node.fieldType | ajfFieldIcon"
                                item-right
                              ></i>
                              <p>
                                {{ ((fieldInstance|ajfAsFieldInstance).node.description || '') |
                                transloco }}
                              </p>

                              <mat-card-header>
                                <mat-card-title>
                                  <label
                                    [attr.id]="fieldInstance.node.name"
                                    *ngIf="(fieldInstance|ajfAsFieldInstance).node.fieldType !== 7"
                                    [innerHTML]="fieldInstance.node.label | transloco"
                                  ></label>
                                </mat-card-title>
                                <mat-icon
                                  class="ajf-tooltip-icon"
                                  *ngIf="(fieldInstance|ajfAsFieldInstance).node?.hint as hint"
                                  [matTooltip]="hint"
                                  matTooltipPosition="right"
                                >
                                  {{(fieldInstance|ajfAsFieldInstance).node.hintIcon ||
                                  'help'}}</mat-icon
                                ></mat-card-header
                              >
                              <mat-card-content>
                                <ajf-field
                                  [instance]="fieldInstance|ajfAsFieldInstance"
                                  [readonly]="readonly || !slideInstance.editable"
                                  [id]="'field_entry_' + fieldInstance.node.id"
                                >
                                </ajf-field>
                              </mat-card-content>
                              <mat-card-actions
                                [ngClass]="(fieldInstance|ajfAsFieldInstance)?.valid ?
                                'ajf-valid-field'
                                : 'ajf-invalid-field'"
                              >
                                <ng-container
                                  *ngIf="(fieldInstance|ajfAsFieldInstance)?.valid !== true; else ajfValidFieldTemplate"
                                >
                                  <span class="ajf-field-error-message"
                                    >{{(fieldInstance|ajfAsFieldInstanceErrors|transloco)}}</span
                                  >
                                  <mat-icon class="ajf-warning">warning</mat-icon>
                                </ng-container>
                                <ng-template #ajfValidFieldTemplate>
                                  <mat-icon class="ajf-success">check</mat-icon>
                                </ng-template>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </ajf-page-slider-item>
                </ng-container>
                <!-- repeating slides -->
                <ng-container *ngIf="(slideInstance|ajfIsRepeatingSlideInstance)">
                  <ajf-page-slider-item
                    *ngFor="let curRep of ((slideInstance|ajfAsRepeatingSlideInstance).reps|ajfRange); let idx = index; let lastSlide = last"
                  >
                    <div class="ajf-form-page">
                      <mat-card appearance="outlined">
                        <mat-card-header>
                          <div class="ajf-page-slider-item-header">
                            <h2>
                              <span class="ajf-form-header-number"
                                >{{ slideInstance.position|ajfIncrement:idx + (hasStartMessage |
                                ajfBoolToInt) }} &rarr;</span
                              >
                              <span [innerHTML]="slideInstance.node.label | transloco"></span>
                            </h2>
                            <mat-icon class="ajf-warning" *ngIf="!(slideInstance|ajfValidSlide:idx)"
                              >warning</mat-icon
                            >
                            <mat-icon class="ajf-success" *ngIf="(slideInstance|ajfValidSlide:idx)"
                              >check</mat-icon
                            >
                          </div>
                        </mat-card-header>
                        <mat-card-content>
                          <div *ngIf="lastSlide && !readonly" class="ajf-group-actions">
                            <button
                              (click)="addGroup(slideInstance)"
                              [disabled]="!(slideInstance|ajfAsRepeatingSlideInstance).canAdd || ((slideInstance|ajfAsRepeatingSlideInstance).node.disableRemoval && !slideInstance.valid)"
                              mat-mini-fab
                            >
                              <mat-icon>add</mat-icon>
                            </button>
                            <button
                              (click)="removeGroup(slideInstance)"
                              [disabled]="!(slideInstance|ajfAsRepeatingSlideInstance).canRemove || (slideInstance|ajfAsRepeatingSlideInstance).node.disableRemoval"
                              mat-mini-fab
                            >
                              <mat-icon>remove</mat-icon>
                            </button>
                          </div>
                          <ng-template
                            ngFor
                            let-fieldInstance
                            [ngForOf]="slideInstance.slideNodes[idx]"
                            [ngForTrackBy]="trackNodeById"
                          >
                            <mat-card
                              appearance="outlined"
                              [ngClass]="'ajf-' + (fieldInstance|ajfAsFieldInstance).node.size +
                              ' ajf-max-columns-' + maxColumns +
                              (centeredFieldsContent ? ' ajf-centered-field' : '')"
                              class="ajf-field-entry"
                              *ngIf="fieldInstance.visible"
                            >
                              <i
                                [class]="(fieldInstance|ajfAsFieldInstance).node.fieldType | ajfFieldIcon"
                                item-right
                              ></i>
                              <p>
                                {{ ((fieldInstance|ajfAsFieldInstance).node.description || '') |
                                transloco }}
                              </p>

                              <mat-card-header>
                                <mat-card-title>
                                  <label
                                    [attr.id]="fieldInstance.node.name"
                                    *ngIf="(fieldInstance|ajfAsFieldInstance).node.fieldType !== 7"
                                    [innerHTML]="fieldInstance.node.label | transloco"
                                  ></label>
                                </mat-card-title>
                                <mat-icon
                                  class="ajf-tooltip-icon"
                                  *ngIf="(fieldInstance|ajfAsFieldInstance).node?.hint as hint"
                                  [matTooltip]="hint"
                                  matTooltipPosition="right"
                                >
                                  {{(fieldInstance|ajfAsFieldInstance).node.hintIcon ||
                                  'help'}}</mat-icon
                                ></mat-card-header
                              >
                              <mat-card-content>
                                <ajf-field
                                  [instance]="fieldInstance|ajfAsFieldInstance"
                                  [readonly]="readonly || !slideInstance.editable"
                                  [id]="'field_entry_' + fieldInstance.node.id"
                                >
                                </ajf-field>
                              </mat-card-content>
                              <mat-card-actions
                                [ngClass]="(fieldInstance|ajfAsFieldInstance)?.valid ?
                                'ajf-valid-field'
                                : 'ajf-invalid-field'"
                              >
                                <ng-container
                                  *ngIf="(fieldInstance|ajfAsFieldInstance)?.valid !== true; else ajfValidFieldTemplate"
                                >
                                  <span class="ajf-field-error-message"
                                    >{{(fieldInstance|ajfAsFieldInstanceErrors)}}</span
                                  >
                                  <mat-icon class="ajf-warning">warning</mat-icon>
                                </ng-container>
                                <ng-template #ajfValidFieldTemplate>
                                  <mat-icon class="ajf-success">check</mat-icon>
                                </ng-template>
                              </mat-card-actions>
                            </mat-card>
                          </ng-template>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </ajf-page-slider-item>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="curSlides && curSlides!.length > 0 && hasEndMessage">
              <ajf-page-slider-item>
                <div class="ajf-form-page">
                  <mat-card appearance="outlined">
                    <mat-card-header>
                      <div class="ajf-page-slider-item-header">
                        <h2>
                          <span *ngIf="(slidesNum|async) as snum" class="ajf-form-header-number">
                            {{ snum! + (hasStartMessage | ajfBoolToInt ) + 1 }} &rarr;
                          </span>
                          <span class="ajf-title">
                            <ng-content select="[ajfFormEndMessageTitle]"></ng-content>
                          </span>
                        </h2>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <ng-content select="[ajfFormEndMessage]"></ng-content>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ajf-page-slider-item>
            </ng-container>
          </ng-container>
          <div ajfPageSliderBar *ngIf="!hideBottomToolbar">
            <div class="ajf-left-bar">
              <div class="ajf-errors" *ngIf="((errors | async) || 0) > 0">
                <button mat-button (click)="goToPrevError()" danger>
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button mat-button (click)="goToNextError()" danger>
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
              <div class="ajf-info-box ajf-error">
                <div class="ajf-title">{{'Errors'|transloco}}</div>
                <div class="ajf-content">{{ errors | async }} / {{ slidesNum|async }}</div>
              </div>
            </div>
          </div>
        </ajf-page-slider>
      </div>
    </div>
  </form>
</ng-container>
