ajf-form {
  display: block;

  .ajf-form-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    mat-toolbar.ajf-btn-strip {
      overflow: auto;

      button.ajf-topbar-button.mat-button {
        flex: 1 1 auto;

        * {
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    mat-toolbar.ajf-hidden {
      opacity: 0;
    }

    .ajf-topbar-button {
      margin-right: 10px;
    }

    > .ajf-slider-container {
      flex: 1;
      position: relative;

      > ajf-page-slider {
        height: 100%;

        ajf-page-slider-item {
          .ajf-page-slider-item-content {
            padding: 16px;

            .ajf-form-page {
              flex: 1;
              max-height: 100%;

              > mat-card {
                margin: 1em 0 3em;

                > mat-card-content {
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: row;
                  align-content: flex-start;
                  position: relative;

                  .ajf-group-actions {
                    position: absolute;
                    right: 0;
                    top: -30px;
                    padding: 15px;
                    z-index: 10;
                  }

                  > .ajf-field-entry {
                    flex: 1 0 auto;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 100%;
                    .mat-icon {
                      vertical-align: bottom;
                      margin-left: 5px;
                    }

                    &.ajf-normal {
                      width: 100%;
                    }
                    &.ajf-small {
                      width: 50%;
                    }
                    &.ajf-smaller {
                      width: 33%;
                    }
                    &.ajf-tiny {
                      width: 25%;
                    }
                    &.ajf-mini {
                      width: 20%;
                    }
                  }
                }
              }
            }
          }
        }

        .ajf-page-slider-item-header {
          display: flex;
          align-items: center;
          width: 100%;

          > h2 {
            flex: 1;
            > .ajf-form-header-number {
              margin-right: 0.5em;
            }
          }

          mat-icon.ajf-warning {
            color: #f53d3d;
          }
          mat-icon.ajf-success {
            color: #32db64;
          }

          h2 > .ajf-title {
            display: inline-block;
            margin-right: 40px;
            white-space: normal;
            vertical-align: top;
          }
        }

        [ajfPageSliderBar] {
          .ajf-left-bar {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            position: absolute;
            bottom: 0;

            .ajf-right-button {
              float: right;
            }

            .ajf-button-icon-only ion-icon {
              padding: 0 0.1em;
            }

            .ajf-info-box {
              height: 40px;
              padding: 4px;

              > div {
                height: 16px;
                line-height: 16px;

                &.ajf-content {
                  font-weight: bold;
                }
              }

              &.ajf-error {
                order: 2;
                color: red;
              }
            }
          }
        }
      }
    }

    .ajf-spacer {
      flex: 1 0 auto;
    }
  }
}
