<ng-container *ngIf="formGroup | async as fg">
  <form [class.ajf-form-readonly]="readonly" novalidate [formGroup]="fg!">
    <div class="ajf-form-container">
      <ng-container *ngIf="slides | async as curSlides">
        <ng-container
          *ngIf="curSlides | ajfCurrentSlide : currentPage : hasStartMessage : hasEndMessage as cur"
        >
          <div class="ajf-form-bar" *ngIf="!hideTopToolbar">
            <ajf-slide-header
              [slide]="cur.slide"
              [slides]="curSlides"
              [displayNumber]="cur.displayNumber"
              [repIndex]="cur.repIndex"
              [reps]="cur.reps"
              [total]="cur.total"
              [pages]="cur.pages"
              [group]="fg"
              (jumpTo)="goToSlide($event)"
              (prev)="goToPrevSlide()"
              (next)="goToNextSlide()"
            >
              <!-- this content projection allows to add buttons on the slide header -->
              <ng-content select="[ajfFormTopToolbarButtons]"></ng-content>
              <!-- apply a default save button only when ajfFormSaveButton is empty -->
              <span class="ajf-form-save" *ngIf="!saveDisabled" (click)="onSave($event)">
                <span #saveButton><ng-content select="[ajfFormSaveButton]"></ng-content></span>
                <button
                  *ngIf="saveButton && saveButton.childNodes && saveButton.childNodes.length === 0"
                  type="button"
                  class="ajf-btn--primary"
                >
                  {{ 'Save' | transloco }}
                </button>
              </span>
            </ajf-slide-header>

            <ajf-rep-strip
              *ngIf="cur.slide && cur.reps > 0"
              [slide]="cur.slide! | ajfAsRepeatingSlideInstance"
              [current]="cur.repIndex"
              [readonly]="readonly"
              (goTo)="goToRep(cur.slide!, $event)"
              (add)="addGroup(cur.slide!)"
              (remove)="removeGroup(cur.slide!, cur.repIndex)"
            ></ajf-rep-strip>
          </div>
        </ng-container>

        <div class="ajf-slider-container">
          <ajf-page-slider
            (orientationChange)="orientationChangeHandler($event)"
            [fixedOrientation]="fixedOrientation"
            [hideNavigationButtons]="hideNavigationButtons"
            [orientation]="orientation"
            #formSlider
          >
            <ajf-page-slider-item *ngIf="curSlides!.length > 0 && hasStartMessage">
              <div class="ajf-form-page ajf-form-message">
                <h2 class="ajf-message-title">
                  <ng-content select="[ajfFormStartMessageTitle]"></ng-content>
                </h2>
                <div class="ajf-message-body">
                  <ng-content select="[ajfFormStartMessage]"></ng-content>
                </div>
              </div>
            </ajf-page-slider-item>

            <ng-container *ngFor="let slideInstance of curSlides; trackBy: trackNodeById">
              <ng-container *ngIf="slideInstance.visible">
                <!-- non repeating slides -->
                <ng-container *ngIf="!(slideInstance | ajfIsRepeatingSlideInstance)">
                  <ajf-page-slider-item>
                    <div class="ajf-form-page" [ngClass]="'ajf-max-columns-' + maxColumns">
                      <ajf-field-row
                        *ngFor="let fieldInstance of slideInstance.flatNodes; trackBy: trackNodeById"
                        [instance]="fieldInstance | ajfAsFieldInstance"
                        [readonly]="readonly || !slideInstance.editable"
                      ></ajf-field-row>
                    </div>
                  </ajf-page-slider-item>
                </ng-container>

                <!-- repeating slides: one page per repetition -->
                <ng-container *ngIf="slideInstance | ajfIsRepeatingSlideInstance">
                  <ajf-page-slider-item
                    *ngFor="
                      let curRep of (slideInstance | ajfAsRepeatingSlideInstance).reps | ajfRange;
                      let idx = index;
                      let lastSlide = last
                    "
                    [isRepeating]="true"
                    [isRepeatingLast]="lastSlide"
                  >
                    <div class="ajf-form-page" [ngClass]="'ajf-max-columns-' + maxColumns">
                      <ajf-field-row
                        *ngFor="
                          let fieldInstance of slideInstance.slideNodes[idx];
                          trackBy: trackNodeById
                        "
                        [instance]="fieldInstance | ajfAsFieldInstance"
                        [readonly]="readonly || !slideInstance.editable"
                      ></ajf-field-row>
                    </div>
                  </ajf-page-slider-item>
                </ng-container>
              </ng-container>
            </ng-container>

            <ajf-page-slider-item *ngIf="curSlides && curSlides!.length > 0 && hasEndMessage">
              <div class="ajf-form-page ajf-form-message">
                <h2 class="ajf-message-title">
                  <ng-content select="[ajfFormEndMessageTitle]"></ng-content>
                </h2>
                <div class="ajf-message-body">
                  <ng-content select="[ajfFormEndMessage]"></ng-content>
                </div>
              </div>
            </ajf-page-slider-item>

            <div ajfPageSliderBar *ngIf="!hideBottomToolbar" class="ajf-form-footer">
              <ng-container *ngIf="curSlides | ajfFormIssues as issues">
                <span class="ajf-form-footer-status" *ngIf="issues.fields > 0">
                  <mat-icon>error</mat-icon>
                  {{ '{{fields}} fields in {{slides}} slides need attention' | transloco : {fields:
                  issues.fields, slides: issues.slides} }}
                  <button type="button" class="ajf-btn--ghost" (click)="goToPrevError()">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button type="button" class="ajf-btn--ghost" (click)="goToNextError()">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </span>
              </ng-container>
            </div>
          </ajf-page-slider>
        </div>
      </ng-container>
    </div>
  </form>
</ng-container>
