table.ajf-table-field {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tr {
    td {
      position: relative;
      min-width: 2em;
      border-top: solid 1px #cccccc;
      border-left: solid 1px #cccccc;

      span, input {
        cursor: text;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        display: inline-block;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: center;
        position: relative;
        min-height: 22px;
        border: none;
      }

      &:last-child {
        span, input {
          border-right-color: #cccccc;
        }
      }
    }

    &:last-of-type {
      td {
        span, input {
          border-bottom-color: #cccccc;
        }
      }
    }
  }
}
