.ajf-column {
  max-width: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 100;

  span {
    flex-direction: row;
    width:100%;
  }

  .mat-list {
    padding:0;
  }
}

.ajf-column:hover, .ajf-is-on-over {
    span {
      visibility: visible !important;
      display: block !important;
    }
}

.ajf-column-drop-zone {
  margin:10%;
  height: 50px;
  background-color: white;
  border: 9px solid  rgba(66, 134, 244, 0.6);
  border-radius: 16px;
}

mat-list {
    height:100%;
    padding: 0;
}
