ajf-report-builder-content {
  text-align: center;
  display: block;
  margin-bottom: 300px;

  .ajf-overlay.ajf-drag-mode {
    max-height: 700px;
    margin-top: 50px;
    background-color: beige;
  }

  .ajf-drag-mode {
    overflow: scroll;
    zoom: 50%;
    .ajf-header, .ajf-content, .ajf-footer {
      margin-bottom: 20px;
      border: 23px solid rgba(66, 134, 244, 0.2);

      .ajf-drop-zone {
        width: auto;
        background-color: rgba(66, 134, 244, 0.2);
        border: 23px solid white;
        position: relative;
        min-height: 50px !important;
        z-index: 0;
        opacity: 1;
      }

      .ajf-drop-zone-container {
        background-color: rgba(66, 134, 244, 0.2) !important;
        border: 23px solid white !important;
      }
    }

    .ajf-header, .ajf-footer {
      border: 23px solid rgba(255, 102, 102, 0.4) !important;
      .ajf-drop-zone-container {
        background-color: rgba(255, 102, 102, 0.4) !important;
      }
      .ajf-drop-zone {
        background-color: rgba(255, 102, 102, 0.4)  !important;
      }
    }

    .ajf-drop-zone-container {
      background-color: black;
      border: 16px solid white;
      position: relative;
      opacity: 0;
      z-index: 0;
      min-height: 50px !important;
      display: none !important;
    }
  }

  .ajf-zoom-mode {
    zoom: 50%;
  }

  .ajf-header, .ajf-content, .ajf-footer {
    height: 100%;
    min-height: 50px;
    position: relative;
    text-align: center;
    display: block;

    .mat-list {
      padding: 0;
    }

    .ajf-zoom:hover {
      padding-bottom: 100px;
      overflow-y: scroll;
    }
  }

  .ajf-content:hover {
    background-color: rgba(66, 134, 244, 0.2) !important;
  }

  .ajf-header:hover , .ajf-footer:hover {
    background-color: rgba(255, 102, 102, 0.4);
  }

  .ajf-header:hover, .ajf-content:hover, .ajf-footer:hover, .ajf-is-on-over {
    border: 3px dotted #3a7999;

    label {
      visibility: visible!important;
      opacity: 0.4;
      display: block !important;
    }

    .ajf-drop-zone-container {
      display: block !important;
    }

    mat-list {
      button {
        display: inline;
      }
    }
  }

  .ajf-my-content {
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
  }

  .ajf-show, .ajf-on-drag-over {
    opacity: 1 !important;
    z-index: 10;
  }

  mat-list {
    position: relative;
    display: block;
  }
}
