ajf-report-builder-custom-widget-toolbar-button {
  margin-right: 20px;
  a {
    min-height: 60px;
    margin-top: 20px;
    i {
      display: none;

    }
  }
  a:hover {
    i {
      display: inline;
      position: absolute !important;
      margin-left: 5px !important;
      z-index: 5;
    }
  }
}
