ajf-report-builder-custom-widgets-toolbar {
  .mat-toolbar {
    background-color: rgba(144, 238, 144, 0.6);
    border-radius: 16px;
  }

  .ajf-hide {
    display: none;
  }

  .ajf-show {
    display:block;
  }

  a {
      margin-right: 10px;
    }
 }
