ajf-image-group {
  mat-grid-list {
    height: 300px !important;
    overflow-y: auto;
  }
  .mat-grid-list {
    height: 300px !important;
  }
  mat-card > mat-card-content > .ajf-image-group-container {
    overflow-y: scroll;
    height:300px;
  }

  mat-icon {
    font-size: 30px;
  }
}
