<ng-template [ngIf]="data != null">
  <button mat-button (click)="toggle()" style="width:100%">{{data.title}}</button>
  <ng-template [ngIf]="open">
    <button mat-button (click)="emitFormula()">Set formula</button>
    <mat-card *ngIf="data.icon === 'true'">
      <mat-card-header>
        {{data.title}}
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="100px">
          <ng-container *ngFor="let value of data.data">
            <mat-grid-tile *ngFor="let icon of value.icons" [colspan]="1" [rowspan]="1">
              <button style="height:100%" (click)="setIcon(value.name, icon.name)" [matTooltip]="icon.label" matTooltipPosition="above" mat-button>
                <mat-icon
                  [fontSet]="value.name"
                  [fontIcon]="icon.name">
                </mat-icon>
              </button>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="data.icon === 'false'">
      <mat-card-header>
        <mat-card-title>
          {{data.title}}
        </mat-card-title>
        <mat-card-subtitle>
          <mat-form-field>
            <input matInput placeholder="{{data.title}} to search" [(ngModel)]="valueToSearch">
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="ajf-image-group-container">
          <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let value of data.data | ajfImageFilter: valueToSearch" [colspan]="1" [rowspan]="1">
              <button style="height:100%" (click)="setFlag(getFlag(value.class))" matTooltip="{{value.info}}" [matTooltipPosition]="'above'" mat-button>
                <span class={{getFlag(value.class)}} style="width: 100%;height: 100%;"></span>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-card-content>
    </mat-card>
    <ajf-report-builder-forms-analyzer></ajf-report-builder-forms-analyzer>
  </ng-template>
</ng-template>
