ajf-report-builder-renderer-widget {
  .ajf-drag-mode {
    .ajf-layout {
      border: none !important;
    }

    .ajf-row {
      border: 9px solid blue;
      border-radius: 36px;
      height: 100%;

      .ajf-columns {
        border: 9px solid red !important;
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-top: 20px;

        .ajf-fixed {
          border: 9px solid yellow !important;
        }

        .ajf-column {

          border: 9px solid yellowgreen;
          margin-left: 10px;
          margin-right: 10px;
          border-radius: 36px;
          height: 100%;

          ajf-report-builder-widgets-row-buttons {
            visibility: visible !important;
            display: block !important;
          }

          .ajf-container {
            min-height: 50px;
          }

        }
      }
    }
  }
  .ajf-container {
    height: inherit;
    display: block;
    min-height: 50px;
  }
  .ajf-row-button {
    width: 100%;
  }

  .ajf-container:hover {
    border: 3px dotted blue;
    border-radius: 16px;
    opacity: 1;
    min-height: 50px;

  }
  .ajf-on-dragged {
  border: 23px dotted blue;
  }

  .ajf-selected {
    background-color: red;
  }

  .ajf-show, .ajf-on-drag-over {
    border: 33px dotted blue;
      opacity: 1 !important;
      z-index: 10;
    }

  .ajf-no-obj {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
  }

  .ajf-row {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .ajf-columns {
    display: flex;
    flex-direction: row;
  }
  .ajf-column {
    min-height: 50px;
      ajf-report-builder-widgets-row-buttons {
        visibility: hidden !important;
        display: none !important;
      }
  }
  .ajf-column:hover {
      border: 3px dashed yellowgreen;
      border-radius: 16px;

      ajf-report-builder-widgets-row-buttons {
        visibility: visible !important;
        display: block !important;
      }
      .ajf-container {
        min-height: 50px;
      }
  }

  .ajf-fixed:hover {
    border: 3px dashed red !important;
  }
  .ajf-fixed {
    min-width: 100px;
  }
  .ajf-column-drop-zone {
    margin: 10%;
    height: 50px;
    background-color: white;
    border: 9px solid  rgba(66, 134, 244, 0.6);
    border-radius: 16px;
  }

  .ajf-text {
    min-height: 20px;
  }
  ajf-map {
    z-index: 30;
  }
  ajf-column {
    width: 100%;
  }
  button {
    width: 100%;
  }

  mat-list {
    height: 100%;
    padding: 0;
  }

  .ajf-ui.ajf-fluid.ajf-image {
    max-width: 100%;
    height: auto;
  }

  .ajf-column-right {
    float: right;
    width: 33%;
    background-color: saddlebrown;
  }

  .ajf-column-center {
    display: inline-block;
    width: 33%;
    background-color: olive;
  }
}
