ajf-report-builder {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  mat-sidenav-container {
    height: 100%;

    .ajf-builder-sidebar {
      max-width: 7%;
    }
    .ajf-builder-prop {
      max-width: 30%;
    }
  }
}
