ajf-report-builder-widget-toolbar-button {
  button {
    mat-icon {
      font-size: 35px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right:20px;
      color:#3f51b5;
    }
  }
}
