<div ajfDnd (file)="onFileDrop($event)" class="ajf-drop-zone">
  <div *ngIf="emptyFile; else fileInfo" class="ajf-drop-message" (click)="triggerNativeInput()">
    <ng-container *ngIf="_dropMessageChildren?.length; else defaultDropMessage">
      <ng-content select="[ajfDropMessage]"></ng-content>
    </ng-container>
    <ng-template #defaultDropMessage>{{
      'Drop your file here or click to select' | transloco
    }}</ng-template>
  </div>
  <ng-template #fileInfo>
    <div class="ajf-file-info">
      <ng-container *ngIf="_filePreviewChildren?.length; else defaultFilePreview">
        <ng-content select="[ajfFilePreview]"></ng-content>
      </ng-container>
      <ng-template #defaultFilePreview>
        <div class="ajf-file-info-content">
          <img [src]="fileIcon" alt="" />
          <div class="ajf-file-name">{{ value?.name }}</div>
          <div class="ajf-file-size" *ngIf="sizeLabel">{{ sizeLabel }}</div>
        </div>
      </ng-template>
    </div>
    <div class="ajf-file-actions">
      <button type="button" class="ajf-replace-file" (click)="triggerNativeInput()">
        {{ 'Replace' | transloco }}
      </button>
      <button type="button" class="ajf-remove-file" (click)="resetValue()">
        {{ 'Remove' | transloco }}
        <div class="ajf-screen-reader-only">{{ 'Delete' | transloco }}</div>
      </button>
    </div>
  </ng-template>
</div>
<input
  #nativeInput
  [accept]="accept"
  name=""
  aria-label="file input"
  type="file"
  (change)="onSelectFile()"
/>
