.demo-form-builder {
  textarea {
    width: 100%;
    height: 120px;
  }

  .demo-form-builder-options {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
  }

  .demo-form-builder-container {
    position: relative;
    height: calc(80vh - 120px);
  }

  ajf-form-builder {
    height: 100%;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
