<div>
  <mat-form-field>
    <mat-select [(ngModel)]="hours" (opened)="focusHandler()" placeholder="HH">
      <mat-option *ngFor="let h of hoursList" [value]="h">
        {{ h | number:'2.0' }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  :
  <mat-form-field>
    <mat-select [(ngModel)]="minutes" (opened)="focusHandler()" placeholder="MM">
      <mat-option *ngFor="let m of minutesList" [value]="m">
        {{ m | number:'2.0' }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>