ajf-text {
  .ajf-text-container {
    width: 100%;

    .ajf-ql-size-small {
      font-size: 0.75em;
    }
    .ajf-ql-size-large {
      font-size: 1.5em;
    }
    .ajf-ql-size-huge {
      font-size: 2.5em;
    }
    .ajf-ql-size-veryhuge {
      font-size: 3.5em;
    }

    .ajf-ql-align-right {
      text-align: right;
    }
    .ajf-ql-align-center {
      text-align: center;
    }
    .ajf-ql-align-justify {
      text-align: justify;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
}
