ajf-page-slider-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;

  mat-card {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
    margin: 0 10px;
  }
}
