ajf-page-slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > .ajf-page-slider-content {
    flex: 1;
    display: block;
    overflow: hidden;

    > .ajf-page-slider-body {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      > ajf-page-slider-item {
        flex: 1 0 auto;
      }
    }
  }
}
