ajf-page-slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > .ajf-page-slider-content {
    flex: 1;
    display: block;
    overflow: hidden;

    > .ajf-page-slider-body {
      display: flex;
      align-items: stretch;

      &.vertical {
        flex-direction: column;
        width: 100%;
      }

      &.horizontal {
        flex-direction: row;
        height: 100%;
      }

      > ajf-page-slider-item {
        flex: 1 0 auto;
      }
    }
  }
}
