<div class="ajf-page-slider-content">
  <div #body [ngClass]="orientation"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
      (mousewheel)="onMouseWheel($event)" class="ajf-page-slider-body">
    <ng-content></ng-content>
  </div>
</div>
<mat-toolbar *ngIf="!hideNavigationButtons" class="ajf-toolbar">
  <ng-content select=[ajfPageSliderBar]></ng-content>
  <div class="ajf-spacer"></div>
  <div>
    <button mat-button *ngIf="!fixedOrientation" (click)="switchOrientation()">
      <mat-icon>{{ orientation == 'vertical' ? 'swap_horiz' : 'swap_vert' }}</mat-icon>
    </button>
    <button mat-button (click)="slide({dir: 'up'})" secondary>
      <mat-icon *ngIf="orientation == 'horizontal'">arrow_backward</mat-icon>
      <mat-icon *ngIf="orientation == 'vertical'">arrow_upward</mat-icon>
    </button>
    <button mat-button (click)="slide({dir: 'down'})" secondary>
      <mat-icon *ngIf="orientation == 'horizontal'">arrow_forward</mat-icon>
      <mat-icon *ngIf="orientation == 'vertical'">arrow_downward</mat-icon>
    </button>
  </div>
</mat-toolbar>
