.demo-forms {
  .demo-forms-header-box {
    flex: 1;
    padding: 0 10px;

    textarea {
      width: 100%;
      height: 120px;
    }
  }

  .demo-form-container {
    height: 90vh;
    position: relative;
  }
}
