ajf-filter-widget {
  .ajf-filter-container {
    ajf-page-slider-item {
      flex: auto !important;
    }
    ajf-page-slider-item .ajf-page-slider-item-content {
      position: relative;
    }
    .ajf-form-container {
      position: relative;
      .mat-mdc-card-header {
        display: none;
      }
    }
  }
  .ajf-field-entry {
    width: unset !important;
    min-width: 200px;
  }

  mat-card {
    min-height: 50px !important;
  }
  mat-card-content {
    padding: 15px !important;
    padding-bottom: 0 !important;
  }
  mat-card-actions {
    display: none !important;
  }
  .mat-mdc-select-value {
    box-shadow: 0 5px 5px -5px #0003;
  }
}
