table {
  border-spacing: 0;
  tr {
    th {
      padding: 10px;
    }
    td {
      padding: 10px;
      .read_more_cell {
        cursor: pointer;
        margin: 0;
        white-space: nowrap;
        display: inline-block;
      }
      .read_more_text {
        padding-right: 5px;
        margin: 0;
        display: inline-block;
        white-space: nowrap;
      }
      .material-icons {
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
}
