ajf-widget {
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  flex-direction: column;
  > ng-component {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
  }
}
